::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: var(--light-blue);
  border-radius: 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size);
  font-family: 'Tomorrow', sans-serif;

  color: var(--font-color);
  background: var(--bg-color);
}

a {
  color: var(--font-color);
  text-decoration: none;
}

.active {
  color: #fff;
  border-bottom: 1px solid #fff;
}

@media screen and (max-width: 767px) {
  :root {
    font-size: 62.5%;
  
    --bg-color: #040d0f;
    --nav-color: #08070B;
    --font-color: #8F9BA8;
    --font-second-color: #E3D8F1;
    --hovered-font-color: #fff;
    --light-blue: #1E90FF;
  
    --content-padding: 1rem;
    --font-size: 1.6rem;
  }

  .mobile-navbar {
    padding: 0 var(--content-padding);
    background: var(--bg-color);
    height: 8rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
  }

  .nav-fixed {
    position: fixed;
    width: 100vw;
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    gap: 1rem;
  }

  .nav-img {
    height: 3.5rem;
  }

  .mobile-navbar ul {
    list-style: none;

    display: flex;
    justify-content: center;
  }

  .mobile-navbar ul li a {
    font-size: 2rem;
    padding: .3rem .7rem;
  }

  .main-content {
    height: calc(100vh - 5rem);
    margin: 0 var(--content-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-content-block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .main-content-block div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .main-content-block p:first-of-type {
    color: #FFF;
  }

  .main-title {
    background: rgb(30,144,255);
    background: linear-gradient(37deg, rgba(30,144,255,1) 0%, rgba(227,216,241,1) 52%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .footer {
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  .footer ul span {
    display: none;
  }

  .footer ul a {
    padding: .5rem;
  }

  .link-images {
    height: 1.7rem;
    width: 1.7rem;
  }

  .content-about {
    padding: 10rem 2rem 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    height: auto;
    min-height: calc(100vh - 7rem);
  }

  .content-about section,
  .content-about div,
  .title-about {
    width: 100%;
  }

  .main-info-about {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .content-about section:nth-child(n+3) {
    margin-top: 2rem;
  }

  .main-info-about p {
    line-height: 3.5rem;
  }

  .main-info-about div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .content-about h3,
  .content-about h4 {
    color: var(--font-second-color);
  }

  .content-about h2 {
    background: rgb(30,144,255);
    background: linear-gradient(37deg, rgba(30,144,255,1) 0%, rgba(227,216,241,1) 52%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .bio-info-about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .bio-info-about blockquote {
    line-height: 3rem;
    border-left: 4px solid #212024;
    padding-left: 2rem;
  }

  .carreer-info-about {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .subsection-carreer {
    display: inherit;
    flex-direction: inherit;
    gap: .5rem;
  }
  
  .content-project {
    padding: 10rem 2rem 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    height: auto;
    min-height: calc(100vh - 7rem);
  }

  .content-project section,
  .content-project p {
    width: 100%;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 3rem;
  }

  .subsection-projects {
    display: inherit;
    flex-direction: inherit;
    gap: 1.5rem;
  }

  .subsection-projects > p {
    padding-left: 1.5rem;
  }

  .link-projects {
    text-decoration: underline;
  }

  .link-projects:hover,
  .subsection-setup li > a:hover {
    color: var(--font-second-color);
    text-decoration: underline;
  }

  .setup {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 3rem;
  }

  .subsection-setup {
    display: inherit;
    flex-direction: inherit;
    gap: 1.5rem;
  }

  .subsection-setup > ul {
    padding-left: 5rem;
    list-style-type: square;
  }

  .subsection-setup ul li {
    line-height: 3rem;
  }
  
  
  
  
  
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 62.5%;
  
    --bg-color: #040d0f;
    --nav-color: #08070B;
    --font-color: #8F9BA8;
    --font-second-color: #E3D8F1;
    --hovered-font-color: #fff;
    --light-blue: #1E90FF;
  
    --content-padding: 45rem;
    --font-size: 1.8rem;
  }
  
  .navbar {
    padding: 0 var(--content-padding);
    background: var(--bg-color);
    height: 7rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.7rem;
  }

  .nav-fixed {
    position: fixed;
    width: 100vw;
  }

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .nav-img {
    height: 5rem;
  }

  .navbar ul {
    padding: 0;
    list-style: none;
    display: flex;
  }

  .navbar ul li a {
    padding: 1rem 1.5rem;
    transition: .3s;
  }

  .navbar ul li a:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 10px;
    color: var(--font-second-color);
  }

  .main-content {
    padding: 2rem 0;
    margin: 0 var(--content-padding);
    height: calc(100vh - 7rem);

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .main-content-block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50rem;
  }

  .main-content-block div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .main-content-block p:first-of-type {
    color: #FFF;
  }

  .main-title {
    background: rgb(30,144,255);
    background: linear-gradient(37deg, rgba(30,144,255,1) 0%, rgba(227,216,241,1) 52%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .footer {
    height: 7rem;
    padding: 0 var(--content-padding);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    font-size: 1.5rem;
  }

  .links a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    transition: .4s;
    padding: .5rem;
  }

  .links img {
    height: 1.5rem;
    width: 1.5rem;
    visibility: hidden;
  }

  .links:hover .link-images {
    visibility: visible;
  }

  .instagram:hover {
    color: #FE016B;
  }

  .github:hover {
    color: #B9BBBD;
  }

  .linkedin:hover {
    color: #0A66C2;
  }

  .twitter:hover {
    color: #1D9BF0;
  }

  .youtube:hover {
    color: #FF0000;
  }

  .twitch:hover {
    color: #A970FF;
  }

  .content-about {
    padding: 10rem 2rem 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    height: auto;
    min-height: calc(100vh - 7rem);
  }

  .content-about section,
  .content-about div,
  .title-about {
    width: 100%;
  }

  .main-info-about {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }

  .content-about section:nth-child(n+3) {
    margin-top: 2rem;
  }

  .main-info-about p {
    line-height: 3.5rem;
  }

  .main-info-about div {
    width: calc(50% - 1.5rem);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .content-about h3,
  .content-about h4 {
    color: var(--font-second-color);
  }

  .content-about h2 {
    background: rgb(30,144,255);
    background: linear-gradient(37deg, rgba(30,144,255,1) 0%, rgba(227,216,241,1) 52%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .bio-info-about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .bio-info-about blockquote {
    line-height: 3rem;
    border-left: 4px solid #212024;
    padding-left: 2rem;
  }

  .carreer-info-about {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .subsection-carreer {
    display: inherit;
    flex-direction: inherit;
    gap: .5rem;
  }
  
  .content-project {
    padding: 10rem 2rem 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    height: auto;
    min-height: calc(100vh - 7rem);
  }

  .content-project section,
  .content-project p {
    width: 100%;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 3rem;
  }

  .subsection-projects {
    display: inherit;
    flex-direction: inherit;
    gap: 1.5rem;
  }

  .subsection-projects > p {
    padding-left: 1.5rem;
  }

  .link-projects {
    text-decoration: underline;
  }

  .link-projects:hover,
  .subsection-setup li > a:hover {
    color: var(--font-second-color);
    text-decoration: underline;
  }

  .setup {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 3rem;
  }

  .subsection-setup {
    display: inherit;
    flex-direction: inherit;
    gap: 1.5rem;
  }

  .subsection-setup > ul {
    padding-left: 5rem;
    list-style-type: square;
  }

  .subsection-setup ul li {
    line-height: 3rem;
  }
}